<div class="alert bulk-registration-success">
	<div>
		<span class="fa fa-info"></span>
		<p>[% Lang.txt('Bulk Registration is complete') %]</p>
	</div>
</div>
[% gateways %]
<div class = "button-row">
    <a href="[% target %]?client=[% client %]&amp;a=WF_" class="pull-right btn-main">[% Lang.txt("Go to your dashboard") %]</a>
</div>
