<p>[% Lang.txt('Registration is complete') %]</p>
<p>Status is [% RegoStatus %]</p>
<a href="[% person_home_url %]">[% Lang.txt("Continue to Person Home") %]</a>
<a href="[% txns_url %]">[% Lang.txt("View Transactions") %]</a>
[% gateways %]
