<div class="panel-body">
Who do you wish to add a New To:
<br>
<a href="[% target %]?client=[% client %]&amp;a=PF_&amp;rfp=r&amp;_ss=r&amp;es=0" class="btn-inside-panels">[% RealmName %]</a>
<br><br>
OR
SEARCH/FIND A CLUB<br>
<a href="[% target %]?client=[% tempclient %]&amp;a=PF_&amp;rfp=r&amp;_ss=r&amp;es=0" class="btn-inside-panels">[% Lang.txt("Warriors") %]</a>
</div>
