<div class="row">
    <div class="col-md-12 error-alerts">
        <div class="alert">
            <div>
                <span class="fa fa-exclamation"></span>
                [% Lang.txt('No Previous Certifications found') %]
            </div>
        </div>
    </div>
</div>
