<div id = "flowSummary">
<h3 class="panel-header">Member ID: [% FlowSummary.Id %]</h3>
<div class="panel-body">
<p class="reg-text">[% FlowSummary.name %]</p>
<p class="reg-text">[% FlowSummary.gender %]</p>
<p class="reg-text">[% FlowSummary.dob %]</p>
</div>
</div>
