<form ttarget="_pay" action="[% target %]" method="POST">
    <!--<input type="hidden" name="aOLD" value="[% nextaction %]">-->
    [% txnList %]
    [% gateway_body %]
    [% FOREACH h IN  hidden_ref %]
        <input type="hidden" name="[% h.key %]" value="[% h.value %]">
    [% END %]
    <!--<input type="submit" name="submit" value="[% Lang.txt('Continue') %]" class = "button proceed-button"><br><br>-->
</form>
