<div class = "member-status-wrap">
		<div class = "sectionheader">Registration</div>
			<div class="members-seasonstatus-content">

			<table>
				[% FOREACH entity IN RegistrationInfo %]
				<tr>
					<td> [% entity.strLocalName %] </td>
					<td> [% entity.strSport %] </td>
					<td> [% entity.strPersonType %] </td>
					<td> [% entity.strPersonLevel %] </td>
					<td> [% entity.dtFrom %] </td>
					<td> [% entity.dtTo %] </td>
				</tr>
				[% END %]
			</table>
	
			</div>
		</div>
</div>
