<form action="[% target %]" method="POST">
    <textarea name="notes">[% TaskNotes %]</textarea>
    <input type="hidden" name="client" value="[% client %]">
    <input type="hidden" name="TID" value="[% TaskID %]">
    <input type="hidden" name="type" value="[% type %]">
    <input type="hidden" name="a" value="[% action %]">
    <input type="submit" name="submitb" value="Submit">
</form>
