<div class="member-home-page">
    <span>Please review the PERSON details below. Click CONTINUE to proceed with APPROVAL process.</span>
    <br/>
    <br/>
    <div class="task-actions">
        <span class = "button-medium generic-button"><a href = "main.cgi?client=[% TaskAction.client %]&a=WF_View&TID=[% TaskAction.WFTaskID %]">[% Lang.txt('Back') %]</a></span>
        <span class = "button-medium generic-button"><a href = "main.cgi?client=[% TaskAction.client %]&a=WF_Approve&TID=[% TaskAction.WFTaskID %]">[% Lang.txt('Continue') %]</a></span>
    </div>
</div>
