
<div>
    <strong>[% Lang.txt("Greetings") %], [% To.name %]</strong>

    <div>[% Lang.txt("Person Request access has been completed.") %]</div>

    <div>Footer here.</div>

    <strong>[% Lang.txt("Regards") %],</strong>
    <strong>[% From.name %]</strong>
</div>
