  <html>
    <head>
      <title>Receipt:</title>
        <div id="receipt_custom_header">
The name of the seller: Suomen Palloliitto ry<br>
The registration number of the seller: 0202244-9 <br>
The text that describes why the receipt is without tax: ALV 0% (TVL 22§, ALVL 4§)<br>
    </div>
      <link rel="stylesheet" type="text/css" href="css/style.css">
			<style type="text/css">
				h2 { font-size:16px;}
				h3 { font-size:14px;}
				td { font-size:12px;}
				table.itemlist {
					border:1px solid #aaa;
					border-collapse: collapse;
					width:100%;
				}
				table.itemlist	td{
					padding:6px;
					border:0px 1px;
					border-right:1px solid #aaa;
				}
				.receiptbox	{
					width:400px;
					margin-left:auto;
					margin-right:auto;
				}
				body	{
				}
				table.paymentlist td{
					padding:6px;
				}

			</style>
    </head>
		<!-- <body onload="window.print();close();" > --> 
		 <body>
    	    [% body %]
		</body>
  </html>
