/*FOR CUSTOMIZE CSS*/

/***** CUSTOM STYLES *****/
.welcomelogin { margin-bottom: -20px; }
.welcomelogin span { color: #378080; font-size: 12px; font-weight: bold; font-family: 'noto_sansregular'; }
.formbg { background: url('../images/img-logo.png'); background-repeat: no-repeat; background-attachment: fixed; background-position: center; }
.inline li { display: inline-block; }
.lblPeoplelookup { position:relative;left:20px; }
.btnPeoplelookupSearch { position:relative;right:-62px; }
.footer-section { height: 70px; }
.paddingTop8 { padding-top: 8px; }
.paddingBottom8 { padding-bottom: 8px; }


.form-signin input[type="text"] {
  border: 1px solid #cccccc;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-family: 'noto_sansregular';
  font-weight: normal;
  font-size: 14px;
  color: #000;
}

a.text-link {
  font-family: 'noto_sansregular';
  font-weight: normal;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}

a.text-link:hover {
  text-decoration: none;
}

h3.main-heading {
  font-family: 'noto_sansregular';
  font-weight: normal;
  font-size: 30px;
  color: #000;
}

h5.panel-header {
  font-family: 'noto_sansregular';
  font-weight: normal;
  font-size: 22px;
  color: #FFF;
  padding: 10px 20px;
  margin: 0;
  background: #055688;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1NTY4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDRlN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #055688 0%, #004e7e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#055688), color-stop(100%,#004e7e));
  background: -webkit-linear-gradient(top,  #055688 0%,#004e7e 100%);
  background: -o-linear-gradient(top,  #055688 0%,#004e7e 100%);
  background: -ms-linear-gradient(top,  #055688 0%,#004e7e 100%);
  background: linear-gradient(to bottom,  #055688 0%,#004e7e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#055688', endColorstr='#004e7e',GradientType=0 );
}

div.panel-body {
  background: #ededed;
  border: 1px solid #cccccc;
  padding: 21px;
}

span.notice-error {
  font-family: 'noto_sansregular';
  font-weight: normal;
  font-size: 14px;
  color: #c4070a;
}

.toggle-type a, .toggle-type a:visited {
  background: #d8d8d8;
  border: 1px solid #cccccc;
  font-size: 14px;
  padding: 8px 20px;
  color: #000;
  float: left;
}

.toggle-type a:hover, .toggle-type a:active {
  text-decoration: none;
  background: #045485;
  color:#fff;
}

.toggle-type a.active {
  background: #045485;
  border: 1px solid #045485;
  font-size: 14px
  padding: 8px 30px;
  color: #fff;
  float: left;
}

li.peoplelookup input[type="text"] {
  border: 1px solid #cccccc;
  padding: 5px;
  width: 300px;
}

.totalFont {
   text-align: right;
}
.totalValue {
    font-size: 16px !important;
}



/***** BOOTSTRAP STYLES *****/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading {
  text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border: 1px solid #cccccc;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  border: 1px solid #cccccc;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.footer
{
  padding-top:15px;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  font-family: 'noto_sansregular';
}

.navbar-default {
  background-color: #085A8C;
  border-color: #085A8C;
}

.navbar
{
  margin-bottom: 0px;
  border-radius: 0px;
  /*padding-left: 10px;*/
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #E2E1E2;
}

div .dataTables_paginate {
    padding-top:8px;
    text-align:center;
}

#searchForm .formw input.error {
    font-size: 14px;
}
/*Saeid*/
.membership-login header .logo-area ul {
    margin-top:60px;
}
div#footer{
   display: none
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
/*select {
  background: transparent;
  padding-right: 17px!important;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
}*/
/*ie defualt arrow*/
select::-ms-expand {
    display: none;
}
select#languageChooser {
  overflow: hidden;
  /*background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-32.png) no-repeat right #FFFFFF;*/
  border: 1px solid #FFF;
}
.transitions {
    -webkit-transition: all .1s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all .1s ease-in-out;  /* Firefox 4-15 */
    -o-transition: all .1s ease-in-out;  /* Opera 10.50â€“12.00 */
    transition: all .1s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.step{
  min-width: 130px;
}
form#searchForm{
  text-align: center;
}
#itc_selection li {
  display: block;
}
.fieldSectionGroupFooter a{
  padding: 4px 27px;
  margin-right: -15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 5px;
  text-decoration: underline;
  color: black;
  text-transform: capitalize;
}
ul#menu li:hover .dropdown {
  color: #000;
}
/*Custom CSS for fieldsets   */
/*.fieldSectionGroup fieldset .form-group {
  background-color: #DFDFDF;
  border: 1px solid rgb(207, 207, 207);
}*/
/*.fieldSectionGroup .form-group label {
  background-color: rgb(213, 213, 213);
  padding: 5px;
  border: 1px solid rgb(215, 215, 215);
  border-right: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  min-width: 200px;
}*/
ul#menu li.hover, ul#menu li:hover > a {
  color: #000;
}
/*custom responsive tables*/
.res-invisible{
  display: none;
}
.responsiveTablesDropDown{
    float:right;
}
.responsiveTablesDropDown button{
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  color: #666;
  border-radius: 5px;
  margin: 0 5px;
  padding:3px 8px;
}
.res-items-group.dropdown-menu {
    left: auto;
    right:0;
}

.responsiveTablesDropDown .dropdown-menu {
  font-size: 16px;
  margin: 10px;
  width: 26%;
}
.responsiveTablesDropDown .dropdown-menu a{
  cursor: pointer;
}
.res-wrapper {
  width: 100%;
  overflow: auto;
  z-index: 10;
  /*padding: 11px;
  border: 1px solid rgb(0, 78, 126);
  box-shadow: inset 0 0 13px -2px rgb(0, 78, 126);*/
}
a[selcol="true"] {
  background-color: rgb(0, 78, 126);
  color: white!important;
  background-image: url('../images/check.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 3px center;
}
a[selcol="true"]:hover {
  background-color: rgb(2, 90, 144)!important;
}
a[selcol="true"]:focus {
  background-color: rgb(2, 90, 144)!important;
}
a[selcol="false"] {
  color: rgb(173, 173, 173)!important;
}
.ellipsis {
  width: 64px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*total amount view correction*/
ul.total-view{
  float: right;
}
ul.total-view li {
  width: 28%;
  float: left;
  list-style: none;
  margin: 0 11px;
}
/*readonly corrections*/
.read-only-text ul li{
  /*width: 100%;*/
}
/* make headers more meaningful*/
th {
  text-transform: uppercase;
  text-align: center;
}
.selected {
  /*initialize hover for tablet sizes*/
   background-color: transparent; 
   color: white; 
}
/*read-only bold values*/
.fieldSectionGroupWrapper-DisplayOnly fieldset div.col-md-6 {
  font-weight: bold;
}
/*spinner function class*/
.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  top: 0;
  left: 0;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-size: 2%;
  background-position: center center;
}
.member-home-page .autoAccordian {
  margin-left:-15px;
  margin-right:-15px;
}
.autoAccordian .panel-heading a{
  display:block;
  padding: 20px;
  margin: -20px;
}
* .js-tabcollapse-panel-heading:after {
  font-family: FontAwesome;
  content: "\f078";
  float: right;
  color: #fff;
}
.js-tabcollapse-panel-heading.collapsed:after {
  font-family: FontAwesome;
  content: "\f054";
}
.autoAccordian .panel-heading{
  border-radius:0px;
  border:none;
  border-bottom:1px solid #888;
  padding:20px;
}
.autoAccordian .panel{
  margin-top:0px !important;
}
.panel-body.js-tabcollapse-panel-body {
  background-color:#fff; 
}
.btn-inside-panels.center-align{
  width: 100%;
  margin-bottom: 9px;
  text-align: center;
}
/*read only fixes*/
.document-upload.summary ul li span.details-left:nth-child(1) {
  text-align: right;
  float: left;
  margin-right: 10px;
  position: relative;
  width: 30%;
}

@media only screen and (min-width:275px) and (max-width:313px){
  body{
    top:0!important;
  }
  .navbar-fixed-top{
    top: 0!important;
    width:72%;
  }
  .offcanvas{
    margin-left: -110%;
    top:0!important;
  }
  .sidebar-box{
    /*these vlaues will make mobile versions
    to work properly, please do not delete
    */
    top: initial!important;
    bottom: initial!important;
    left: initial!important;
  }
  .navmenu-fixed-left.offcanvas{
    width: 72%;
    margin-left: 0%
  }
}
@media only screen and (max-width:610px){
  header .logo-area h1{
      position: relative;
      top: auto;
      width: 98%;
      text-align: center;
      margin-bottom:  7px;
  }

  header .logo-area img.header-logo {
      position: relative;
      left: 50%;
      margin-left: -47px;
  }
  header .logo-area a.logo-container{
    float: left;
    width: 100%
  }
  header .logo-area ul{
      margin-top: 0;
      width: 100%;
      text-align: center;
  }
  header .logo-area ul li{
      text-align: center;
      margin-bottom: 4%;
      width: inherit;
  }
  .form-signin{
      max-width: initial;
  }
  .form-signin .form-control:focus{
      background-position: left 2% center;
      background-repeat: no-repeat;
      padding-left: 10%;
  }
  .form-signin .form-control[name="email"]:focus{
      background-image: url(../images/username.png);
  }
  .form-signin .form-control[name="pw"]:focus{
      background-image: url(../images/password.png); 
  }
  .form-signin .btn{
      width: 100%;
      padding: 3%;
  }
  .form-signin input[type="checkbox"]{
      height: 3.334rem;
      min-width: 3.334rem;
      vertical-align: -11px;
      position: relative;
  }
  input[type="checkbox"]:checked:before{
    width: 31px;
    height: 12px;
  }
  input[type="checkbox"]:after{
    width: 3.1rem;
    height: 3.1rem;
  }
  input[type="checkbox"]:before{
    width: 3rem;
    height: 3rem;
  }
  /*Domestic / international toggle alignment for small screen sizes*/
  .toggle-type a, .toggle-type a:visited{
    width: 71%!important;
    min-width: 116px;
  }
  .btn-inside-panels {
    width: 100%;
    text-align:center;
  }
  /*cancel | Save and exit | Continue buttons*/
  a.btn-main, input.btn-main, button.btn-main{
    width: 100%;
  }
  /*nature of registration alignment issue*/
  .regoptions .form-group:last-child label {
  min-width: 185px;
  }
  /*Complete process venue*/
  .button-row ul.row-btn-complete li{
    padding-right: 0;
    width: 100%;
  }
  .button-row ul.row-btn-complete li a{
    width: inherit;
  }
  /*Tabs*/
  .nav-tabs > li {
  width: 100%;
  }
  /*dropdowns alignment*/
  .chosen-container{
    width: 100%!important;
  }
  .dateselection-group .chosen-container{
    width: auto !important;
  }
  .selfreg-regwho a.btn-main,
  .selfreg-actions a.btn-inside-panels{
    width: 100%;
  }
  .member-home-page .nav-tabs,
  .member-home-page .tab-content{
    margin-left:-15px;
    margin-right:-15px;
  }
  /*.member-home-page .nav-tabs span.circleBg,
  .member-home-page .panel-title span.circleBg{
    float:left;
    line-height:1.4em;
    margin-right:20px;
  }*/
  .membership-login form.form-signin {
    margin:10px;
  }

}
@media only screen and (max-width:766px){
  form#searchForm .btn-inside-panels,
  div.row span.formw{
    width: 100%;
  }

  .reporttabs{
    width: 100%; 
  }
  .reporttab-data{
    width: auto;
  }
}
/*If Monitor > Show subs on hover
  If Tablet/Mobile > Show subs on Click
*/

@media only screen and (max-width:992px){
  .navbar-nav>li>a{
    font-size: 13px;
  }
}
@media (min-width:768px) and (max-width:992px){
  #docViewerPanel{
    float: right;
    width: 36%;
    left: 50%;;
  }
  #docViewerFileBlock {
    width: 63%;
    height: 90%;
    vertical-align: middle;
    float: left;
  }
}
@media only screen and (max-width:768px){
  #docViewerPanel{
    float: left;
    width: 69%;
    position: relative;
    left: 50%;
    margin-left: -34.5%;
  }
  #docViewerFileBlock {
    width: 66%;
    height: 90%;
    vertical-align: middle;
    position: relative;
    left: 50%;
    margin-left: -33%;
  } 
}
@media only screen and (min-width:768px){
  li.subnav:hover .dropdown-menu {
    display: block;
  }
  ul#menu li:hover > ul {
    display: block;
  }
}
@media only screen and (max-width:768px){
  header nav.navbar-default .container ul li a.selected {
    /*background-color: #e3e3e3;*/
    /*color: #000;*/
  }
  .res-table {
    width: inherit!important;
  }
  /*a.paginate_button.previous, a.paginate_button.next, a.paginate_button{
    background-color: rgb(0, 78, 126);
    margin: 4px;
    padding: 18px;
    border-radius: 11px;
    color: white;
  }*/
}
@media only screen and (max-width:450px){
  header nav.navbar-default .navbar-nav > li > a {
  color: #fff;
  }
  .logo-area{
    display: none;
  }
  #ROallfields-wrapper, #ROreportselect-wrapper  {
    width:100%;
    height:auto;
    float:none;
  }
  #ROreportselect-wrapper{
    margin:5px 0;
  }
  #ROallfields {
    width:100%;
  }
}
@media only screen and (max-width:991px) {
  .progressFlow .col-md-2{ width: 100%; }
}
@media (min-width: 991px) and (max-width: 1199px) {
    #worktasks_filter input {
        width:150px;
    }
}
