header	{ display:none; }
#spheader	{ display:none; }
#headerbar	{	display:none;	}
#navbar	{ display:none;	}
#contentholder	{ margin: 0px;	}
#globalnav {display:none;}
.report-option-button-row { display:none; }

