<div>
    [% IF searchResultGrid %]
        [% IF searchResultGrid.count == 0 %]
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                <div>
                    <span class="fa fa-exclamation"></span>
                    <p>No result found.</p>
                </div>
            </div>
        </div>
        [% END %]
    [% END %]

    [% searchForm %]

    [% searchResultGrid.data %]
</div>
