<div class = "summaryPanel">
<h3 class="panel-header">[% IF NationalNum %][% Lang.txt('Member ID') %]: [% NationalNum %][% ELSE %]&nbsp;[% END %]</h3>
    <div class="panel-body">
        <p class="reg-text">[% FamilyName %]</p>
        <p class="reg-text">[% FirstName %]</p>
        <p class="reg-text">[% gender %]</p>
        <p class="reg-text">[% dob %]</p>
        <p class="reg-text">[% nationality %]</p>
    </div>
</div>
