<div class="col-md-12">
    <div class="alert alert-warning" role="alert">
        <div>
            <span class="fa flash_error fa-exclamation"></span>
            <p>[% message %]</p>
        <br/>
        </div>
    </div>
</div>
