body {
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    color:#000000;
    background-color:#FFFFFF;
    text-align:left;
    min-width:790px;
    margin:0 0 0 0px;
}
                                                                                                        
p {
  text-align:left;
  font-family:Verdana, Geneva, sans-serif;
  font-size:11px;
}

/* Links */
  a   {
    text-decoration:none;
    color:#0000ff;
  }
  a:hover {
    text-decoration:underline;
  }

  .bluelink   { color:#0000ff; }
  .history {
    font-size:11px; 
    text-decoration:none;
    color:#ffffff;
    vertical-align:middle;
		font-weight:bold;
  }
  .history:hover {
    text-decoration:underline;
    font-size:11px;
    color:#ffffff;
    vertical-align:middle;
		font-weight:bold;
  }

	div.sportList	{
		clear:both;
		float:right;
		display:inline;
		width:90%;
	}

  .sportLinks {
    font-family:Verdana, Arial, sans-serif; 
    font-size: 14px; 
    color: #0000ff;
		display:block;
  }
  .sportLinks:hover { 
    color:#ffffff;
    background-color:#0000ff;  
    text-decoration:none;
		display:block;
  }
/*
  .topmenu	{
    font-size:13px; 
    text-decoration:none;
    color:#ffffff;
    vertical-align:middle;
		font-weight:bold;
  }
  .topmenu:hover {
    text-decoration:underline;
    font-size:13px;
    color:#ffffff;
    vertical-align:middle;
		font-weight:bold;
  }
*/
	.biglinks{
		font-size:14px;
		text-decoration:none;
		font-weight:bold;
	}
	.biglinks:hover {
		text-decoration:none;
		font-size:14px;
		font-weight:bold;
	}

	.nextroundlink	{
		text-decoration:none;
		font-size:8px;
		font-style:italic;
	}

/* Divs */

#left2m80p {
  margin-left:2%;
  width: 80%;
  text-align: left;
}


.liketable	{
	display: table; 
	margin-left: auto; 
	margin-right: auto;
}

.leftm5p	{
	margin-left:5%;
	text-align:left;
}
.leftm10p	{
	margin-left:10%;
	text-align:left;
}

.leftm20p	{
	margin-left:20%;
	text-align:left;
}

.leftoption	{
	text-align:left;
	float:left;
	width:49%;
}
.rightoption	{
	text-align:right;
	float:right;
	width:49%;
}

div.row {
  clear: both;
  padding-top: 5px;
  }

div.row span.label {
  float: left;
  width: 200px;
  text-align: right;
	font-weight:bold;
	padding-right:5px;
	vertical-align:middle;
}

div.row span.formw {
  float: left;
	vertical-align:middle;
  text-align: left;
} 

/* Colours */
.greenLink {
	color:#119911;
	text-decoration:underline;
}

.greytext { color:#999999; }
.whitetext { color:#ffffff; }
.redtext { color:#ff0000; }
.menublue	{ color:#0000ff }
.linkcolor {color:#0000ff;}

/* Table Stuff */

.resulttable	{
		border:	2px solid black;
}

.resulttable th	{
	font-family:Tahoma, Arial, sans-serif;
	font-size:10px;
	color:#ffffff;
	background-color:#000000;
}


.resultrow {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#000000;
	background-color:#ffffff;
	align:left;
}

.resultrowshaded {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#000000;
	background-color:#dddddd;
	align:left;
}

.resultrowshadedbordertop	{
	border-top:  1px solid #999999;
}
.resultrowshadedborderbottom	{
	border-bottom:  1px solid #999999;
}

.resultrowshadedwithborder {
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#000000;
	background-color:#dddddd;
	align:left;
	border-top:  1px solid #999999;
	border-bottom:  1px solid #999999;
}
.resultlink {
        color:#000000;
        text-decoration:none;
}
.resultlink:hover {
        color:#000000;
        text-decoration:underline;
}
.resultline	{
	padding:	0px 0px 0px 0px;
	margin:	0px 0px 0px 0px;
	background-color:#000000;
}

.resulttable2  { }
  
.resulttable2 th {
  font-family:Tahoma, Arial, sans-serif;
  font-size:10px;
  color:#ffffff;
  background-color:#000000;
}
.resulttable2 td {
  font-family:Tahoma, Arial, sans-serif;
  font-size:10px;
  color:#000000;
  background-color:#ffffff;
	border-bottom:solid 1px black; 
	border-right:solid 1px black;
}


.shaderow	{ background-color:#dddddd; }
.whiteBG { background-color:#ffffff; }
.blueBG { background-color:#478dec; }
.roundlinks {
	font-family:Tahoma, Arial, sans-serif;
	font-size:11px;
	text-decoration:none;
}
.roundlinks:hover {
	font-family:Tahoma, Arial, sans-serif;
	font-size:11px;
	text-decoration:none;
}

a.menucolorlink  { color:#ffffff; }
a.menucolorlink:hover  { color:#ffffff; }

/* Headings */

.PageEntity {
	font-family:Tahoma, Arial, sans-serif;
	font-size:22px;
	text-align:center;
	border-bottom:	1px solid black;
	position:relative;
}

.heading3 {
	font-family:Tahoma, Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
}
.heading4 {
	font-family:Tahoma, Arial, sans-serif;
  font-size:13px;
  font-weight:bold;
}
.heading5	{
	font-family:Tahoma, Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
}
.heading6	{
	font-family:Tahoma, Arial, sans-serif;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
}
.roundtitle	{
	font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  font-weight:bold;
	color:#ff0000;
	padding:	1px 0px 6px 0px;
	text-align: left;
}
.coloredheading {
	font-family:Tahoma, Arial, sans-serif;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
	text-align: left;
	padding: 3px 0 3px 3px;
	position:relative;
}

.coloredtext {
	font-family:Tahoma, Arial, sans-serif;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	color:#ffffff;
	background-color:#478dec;
	text-align: left;
	padding: 3px 0 3px 3px;
}



/* NavBar */
.navbarheading	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px; 
	color: #ffffff;
	background-color:	#000000;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	padding:	3px 5px 3px 3px;
}

/* Old Stuff 
	width: 158px;
  voice-family: "\"}\"";
  voice-family:inherit;
	width: 150px;
*/

div#navbar a	{
	display:block;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px; 
	border-bottom: 1px solid black;
	border-right:	1px solid black;
	font-weight: bold;
	padding:	3px 5px 3px 2px;
	text-align: right;
	width: 158px;
  voice-family: "\"}\"";
  voice-family:inherit;
	width: 150px;
}

/* Styles for the Admin side */
.adminbuttons	{  text-align:center;}
.adminartbuttons	{
	float:left;
	text-align:center;
	padding:5px;
	vertical-align:middle;
}
.adminmenubar	{
	text-align:center;
	padding:5px;
	height:45px;
}

.adminreturn {
	float:right;
	padding:5px;
}

.admininfo	{
	float:right;
	padding:5px;
	background-color:#dddddd;
	width:150px;
	border:solid #bbbbbb 1px;


}
.admintop	{
	text-align:left;
	border-left:	1px solid #478dec;
	border-right:	1px solid #478dec;
}
/* Other */

.coloredbox	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px; 
	border:	1px solid black;
	padding:	3px 5px 3px 2px;
  background-color: #478dec;
}

.coloredboxnoborder	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px; 
	padding:	3px 5px 3px 2px;
  background-color: #478dec;
}

.blackline	{
	padding:	0px 0px 0px 0px;
	margin:	0px 0px 0px 0px;
	background-color:#000000;
}

.blackborder	{
	border:	1px solid black;
}

.TopBorder	{ 
	border-top:	1px solid black; 
	clear:both;
}

.bluebig {
	font-family:Tahoma, Arial, sans-serif;
	font-size:14px;
	color:#103bf0;
	padding:4px;
}

li.region	{
	list-style-type:circle;
}

/* For tooltips */

.tiptitle	{
	background-color:#808080;
	color: #ffffff;
	font-weight: bold;
	border-bottom:1px solid black;
  text-align: left;
}
.tipcontent	{
	background-color:#c0c0c0;
	color: #000000;
  text-align: left;
}

.searchbox	{
  background-color: #4177bf;
	color: #ffffff;
	padding:5px;
  text-align: left;
  border:1px solid #ffffff;
	font-size: 11px; 
	width:400px;
}

/* Articles */
.SectionTitle{
	font-family: Tahoma, Arial, sans-serif;
	font-size: 18px ;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	position:relative;
}

.article { 
	text-align:left; 
	position:relative;
}

.articleIMG	{
	padding: 5px;
	float:left;
}
.articleTopBorder	{ 
	border-top:	1px solid black; 
	clear:both;
}
.articlelabel	{ font-weight: bold; }

/* TEXT */

.blacktext { 
	font-size:12px; 
	color:#000000;
}

.historylabel	{
	font-size:11px; 
	color:#ffff00;
	text-align:right;
	font-weight:bold;
	font-style: italic;
	vertical-align:middle;
}

.matchname	{
	font-weight:bold;
	font-style: italic;
	text-align:left;
	color:#0000ff;
}
/* Not checked below*/

.textsmall { font-size:10px; }
.textbig { font-size:14px; }

.morelink {
        font-family:Tahoma, Arial, sans-serif;
        font-size:9px; 
        text-decoration:none;
} 

.actionresponse	{
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  font-weight:bold;
  color:#ff0000;
	text-align:center;
}

table.blackborder	{
	border:1px solid black;
	border-collapse:collapse;
}
table.blackborder	th	{
	border:1px solid black;
	padding:3px;
}
table.blackborder	td	{
	border:1px solid black;
	padding:3px;
}

table.coloredtop	{
	border:1px solid black;
	border-collapse:collapse;
}
table.coloredtop th	{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px; 
	padding:	3px 5px 3px 3px;
  background-color: #478dec;
	color:#ffffff;
}
table.coloredtop	td {
	border:1px solid black;
	padding:3px;
}

.collabel	{ width:300px; }
.printicon	{ visibility: visible;}
.houseicon	{ visibility: visible;}
.notprint	{ visibility: visible;}
.print {visibility: hidden;}
