<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>[% title %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="[% DirPrefix %]css/spfont.css">
    <link rel="stylesheet" type="text/css" href="[% DirPrefix %]css/style.css">
    <link rel="stylesheet" href="[% DirPrefix %]css/fc_styles.css">
    <link rel="stylesheet" href="[% DirPrefix %]css/custom.css">
  <!--[if lt IE 8]>
  <style>
.membership-login .auth-row input.fields {
	line-height: 40px;
}
</style>
    <![endif]-->
  </head>
  <body class="membership-login">
    <header>
<div class="utilities clearfix">
	<div class="container">
		<div class="row">
  			<ul>
                [% IF LanguageChooser %]
                <li>[% LanguageChooser %]</li>
                [% END %]
  			</ul>
			</div>
		</div>
	</div>
</div>
      <div class="logo-area clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a class="logo-container" href="#" title=""><img class="header-logo" src="[% DirPrefix %][% SystemConfig.MA_logo %]" alt="" /></a><h1>[% SystemConfig.HeaderSystemName %]</h1>
              <ul>
                <li>
                  <strong>[% Lang.txt('Member Association') %]</strong><br/>
                  [% Lang.txt('Phone') %]: <strong>[% SystemConfig.ma_phone_number %]</strong><br/>
                  [% Lang.txt('Website') %]: <strong>[% SystemConfig.ma_website %]</strong>
                </li>
                <li>
                  <strong>[% Lang.txt('Help Desk') %]</strong><br/>
                  [% Lang.txt('Phone') %]: <strong>[% SystemConfig.help_desk_phone_number %]</strong><br/>
                  [% Lang.txt('Email') %]: <strong>[% SystemConfig.help_desk_email %]</strong><br/>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>       
    </header>
    [% pagebody %]
    <div id="pageholder">
      <div id="content">
      </div>
      <div id="footer">
        <div id="footer-topline"></div>
		    <div id="footer-content"></div>
      </div>
    </div> <!-- End Page Holder -->
    <div class="footer-section section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="footer">
        <!--
              [% IF !NoSPLogo %]
              <a href="http://www.sportingpulse.com"><img src="images/SP_powered.png" alt="SportingPulse"></a>
              [% END %]
              <div class="footerline">
                [% Lang.txt('COPYRIGHT') %]
              </div>
        -->
            </div>
          </div>
          <script type="text/javascript" src="[% DirPrefix %]js/reg.js"></script>
          <script type="text/javascript" src="[% DirPrefix %]js/chosen/chosen.jquery.min.js"></script>
          <script type="text/javascript" src="[% DirPrefix %]js/fc-common.js"></script>
          <script type="text/javascript" src="[% DirPrefix %]js/fc-navs.js"></script>
          <script type="text/javascript" src="[% DirPrefix %]js/fcToggle.js"></script>
          <script type="text/javascript" src="[% DirPrefix %]js/jscookie.js"></script>
          [% BottomJSFiles %]
          [% BottomJSInline %]
          [% StatsCounter %]
          </div>
        </div>
      </div>
    </div>
</div> <!-- End wrapper -->
  </body>
</html>
