<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
        <title>[% title %]</title>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/spfont.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/fc_styles.css">
    <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 8]>
  <style>
.membership-login .auth-row input.fields {
	line-height: 40px;
}
</style>
    <![endif]-->
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/passport_ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/passport_ie_old.css" />
  <![endif]-->

    
  </head>
  <body onload="document.loginform.username.focus();" class="membership-login">
    <header>
      <div class="logo-area clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!--<a href="#" title=""><img src="images/img-logo.png" alt="" /></a><h1>Finland Association</h1>-->
              <ul>
                <li>
                  <strong>Member Association</strong><br/>
                  Phone: <strong>4567 8658 689</strong><br/>
                  Email: <strong>ma@ma.com</strong><br/>
                  Website: <strong>www.ma.com</strong>
                </li>
                <li>
                  <strong>Help Desk</strong><br/>
                  Phone: <strong>4567 8658 689</strong><br/>
                  Email: <strong>hd@hd.com</strong><br/>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>       
    </header>
    [% pagebody %]
    <div id="pageholder">
      <div id="content">
      </div>
      <div id="footer">
        <div id="footer-topline"></div>
		    <div id="footer-content">
				  <a href="http://www.sportingpulse.com"><img src="images/SP_powered_rev.png" title="SportingPulse" alt="SportingPulse"></a>
				  <div class="footerline">[% Lang.txt('COPYRIGHT') %]</div>
		    </div>
      </div>
    </div> <!-- End Page Holder -->
</div> <!-- End wrapper -->
<!-- START Nielsen Online SiteCensus V5.3 -->
<!-- COPYRIGHT 2009 Nielsen Online -->
<script type="text/javascript">
        var _rsCI="sportingpulse";
        var _rsCG="sportzmembership";
        var _rsDN="//secure-au.imrworldwide.com/";
        var _rsCL=1;
        var _rsUT="1";
        var _rsC0="";
        var _rsC1="advertising,ads";

</script>
<noscript>
  <div><img src="//secure-au.imrworldwide.com/cgi-bin/m?ci=sportingpulse&amp;cg=sportzmembership&amp;cc=1&amp;_rsUT=1&amp;_rsC1=advertising,ads" alt=""></div>
</noscript>
<!-- END Nielsen Online SiteCensus V5.3 -->

<!-- START Tealium -->
<script type="text/javascript">
  utag_data = window.utag_data || {};
  utag_data.net_site = 'sportingpulse';
utag_data.net_section = 'sportzmembership';
utag_data.ss_sp_ga_account = 'UA-144085-2';
utag_data.ss_sp_pagename = 'SP Membership Login';
utag_data.ss_sp_ads = '0';
utag_data.ss_sp_sportname = 'nosport';
utag_data.ss_sp_pagetype = 'membership';
utag_data.ss_sp_ads_string = 'advertising,noads';

  
 (function(a,b,c,d){
  a='//tags.tiqcdn.com/utag/newsltd/sportingpulse/prod/utag.js';
  b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
  a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
  })();
</script>
<!-- END Tealium -->
  </body>
</html>
