<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
        <title>[% title %]</title>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/spfont.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/fc_styles.css">
    <link rel="stylesheet" href="css/custom.css">
  <!--[if lt IE 8]>
  <style>
.membership-login .auth-row input.fields {
	line-height: 40px;
}
</style>
    <![endif]-->
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/passport_ie.css" />
  <![endif]-->

  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/passport_ie_old.css" />
  <![endif]-->

    
  </head>
  <body onload="document.loginform.username.focus();" class="membership-login">
    <header>
      <div class="logo-area clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#" title=""><img class="header-logo" src="[% SystemConfig.MA_logo %]" alt="" /></a>
              <ul>
                <li>
                  <strong>[% Lang.txt('Member Association') %]</strong><br/>
                  [% Lang.txt('Phone') %]: <strong>[% SystemConfig.ma_phone_number %]</strong><br/>
                  [% Lang.txt('Website') %]: <strong>[% SystemConfig.ma_website %]</strong>
                </li>
                <li>
                  <strong>[% Lang.txt('Help Desk') %]</strong><br/>
                  [% Lang.txt('Phone') %]: <strong>[% SystemConfig.help_desk_phone_number %]</strong><br/>
                  [% Lang.txt('Email') %]: <strong>[% SystemConfig.help_desk_email %]</strong><br/>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>       
    </header>
    [% pagebody %]
    <div id="pageholder">
      <div id="content">
      </div>
      <div id="footer">
        <div id="footer-topline"></div>
		    <div id="footer-content"></div>
      </div>
    </div> <!-- End Page Holder -->
    <div class="footer-section section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="footer">
        <!--
              [% IF !NoSPLogo %]
              <a href="http://www.sportingpulse.com"><img src="images/SP_powered.png" alt="SportingPulse"></a>
              [% END %]
              <div class="footerline">
                [% Lang.txt('COPYRIGHT') %]
              </div>
        -->
            </div>
          </div>
          <script type="text/javascript" src="js/reg.js"></script>
          <script type="text/javascript" src="js/chosen/chosen.jquery.min.js"></script>
          <script type="text/javascript" src="js/fc-common.js"></script>
          <script type="text/javascript" src="js/fc-navs.js"></script>
          <script type="text/javascript" src="js/fcToggle.js"></script>
          [% BottomJSFiles %]
          [% BottomJSInline %]
          [% StatsCounter %]
          </div>
        </div>
      </div>
    </div>
</div> <!-- End wrapper -->
  </body>
</html>
