
<p>[% Lang.txt('Link your membership record to your SP Passport') %]</p>

<div>
	[% Lang.txt('Legal first name') %]: [% FirstName %]<br>
	[% Lang.txt('Family name') %]: [% FamilyName %]<br>
	[% Lang.txt('DOB') %]: [% DOB %]<br>
	[% Lang.txt('Gender') %]: [% Gender %]<br>

	<div>
		<a href = "[% PassportLinkURL %]">[% Lang.txt('Link Member') %]</a>
	</div>
</div>

